nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.breather-right-x2(
    href="http://www.williamrobertfunk.com",
    target="_blank")
    img(src="assets/images/logo.png")
  button.navbar-toggler(
    (click)="toggleCollapseState()",
    type="button",
    data-toggle="collapse",
    data-target="#navbarNavDropdown",
    aria-controls="navbarNavDropdown",
    aria-expanded="false",
    aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(
    id="navbarNavDropdown",
    [ngClass]="{'show': showState}")
    ul.navbar-nav((click)="mobileCollapseState()")
      li.nav-item.breather-right(routerLinkActive="active")
        a.nav-link(routerLink="/live-view") Live View
          span.sr-only (current)
      li.nav-item.breather-right(routerLinkActive="active")
        a.nav-link(routerLink="/trading-history") Trading History
      li.nav-item.breather-right(routerLinkActive="active")
        a.nav-link(routerLink="/profit-portfolio") Profit Portfolio
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink="/cryptobot-controls") Cryptobot Controls
div.page
  router-outlet

